* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;    
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #e8491d;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e8491d;
}

.conteudo {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
}

.conteudo h2 {
    color: #35424a;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #35424a;
    color: #ffffff;
    font-size: 14px;
}